<div class="center">
  <div>
    <div class="container">
      <app-square [numbers]="numbers" [row]="0" [column]="0" ></app-square>
      <app-square [numbers]="numbers" [row]="0" [column]="3"></app-square>
      <app-square [numbers]="numbers" [row]="0" [column]="6"></app-square>
    </div>
    <div class="container">
      <app-square [numbers]="numbers" [row]="3" [column]="0"></app-square>
      <app-square [numbers]="numbers" [row]="3" [column]="3"></app-square>
      <app-square [numbers]="numbers" [row]="3" [column]="6"></app-square>
    </div>
    <div class="container">
      <app-square [numbers]="numbers" [row]="6" [column]="0"></app-square>
      <app-square [numbers]="numbers" [row]="6" [column]="3"></app-square>
      <app-square [numbers]="numbers" [row]="6" [column]="6"></app-square>
    </div>
  </div>
  <label (click)="clear()" style="cursor: pointer">Borrar</label>
  <div style="margin-top: 1em; ">
    Nombre del juego: <input type="text" id="name-game" [(ngModel)]="gameName"><br/><br/>
    Nombre del estado: <input type="text" id="name-state" [(ngModel)]="stateName">
    <button (click)="saveState()">Guardar</button>
  </div>
  <div style="margin-top: 1em; ">
    Juegos guardados:
    <div *ngFor="let game of savedGames" >
      <b style="cursor: pointer" (click)="loadGame(game)">{{game.gameName}} - {{game.stateName}}</b> <label style="color:red; cursor: pointer" (click)="deleteState(game)" >[delete]</label>
    </div>
  </div>
</div>
